* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', system-ui, -apple-system, Segoe UI, Arial, Helvetica,
    sans-serif;
}

body {
  background-color: #2d2e30;
}

.section {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  width: 100%;
}

h1 {
  color: white;
  font-size: 40px;
}

h2 {
  font-size: 25px;
  color: #ffb357;
}

h3 {
  color: #ffb357;
}

p {
  color: white;
  font-size: 18px;
}

a {
  color: white;
}

span {
  color: #ffb357;
}

.list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-items: start;
  margin-bottom: 20px;
}

.list-p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dot {
  color: #ffb357;
  font-size: 30px;
  line-height: 1;
}

@media (max-width: 800px) {
  .section {
    padding: 80px 40px;
  }
}

@media (max-width: 400px) {
  .section {
    padding: 80px 20px;
  }
}
